*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
}
.UI>svg{
    z-index: 1;
}
#echarts{
    width: 95%;
    height: 95%;
    margin: 1rem auto;
}
#copyright{ 
    position: fixed; 
    text-align: center; 
    margin: 1rem; 
    right: 0; 
    bottom: 0;
    font-family: consolas;
}
#share svg{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0;
    left: 0;
    margin: .5rem;
    stroke-dasharray: 5677.25390625;
    animation: outline_share 2s;
}
#switch svg{
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: 0;
    left: 0;
    margin: .5rem;
    stroke-dasharray: 4735.36083984375;
    animation: outline_switch 2s;
}
.github-corner svg{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    right: 0;
    fill:#2e2e2e;
    color:white;
    stroke-dasharray: 859.9161987304688;
    animation: outline_github-corner 2s;
}
#share svg:hover, #switch svg:hover{
    fill: aqua;
    transition: .2s;
}
#share svg:active, #switch svg:active{
    fill: blue;
    transition: .1s;
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@keyframes outline_share{
    0%{
        stroke: #2e2e2e;
        stroke-width: .5rem;
        stroke-dashoffset: 5677.25390625;
        fill-opacity: 0;
    }80%{
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: #2e2e2e;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_switch{
    0%{
        stroke: #2e2e2e;
        stroke-width: .5rem;
        stroke-dashoffset: 4735.36083984375;
        fill-opacity: 0;
    }80%{
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: #2e2e2e;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_github-corner{
    0%{
        stroke: #2e2e2e;
        stroke-width: .2rem;
        stroke-dashoffset: 859.9161987304688;
        fill-opacity: 0;
    }80%{
        stroke-width: .2rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: #2e2e2e;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@media (max-width:500px){
    #copyright{font-size: .8rem;}
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
    .github-corner svg{
        width: 40px;
        height: 40px;
    }
    #share svg, #switch svg{
        width: 30px;
        height: 30px;
        margin: 2px;
    }
}